
    <form asp-action="AddFile" asp-controller="Admin" method="post" enctype="multipart/form-data">
        
        <input type="file" name="uploads" class="imgcoll" accept=".png"/>
        <img class="photo">
        <br>
        <input type="file" name="uploads" class="imgcoll" accept=".png"/>
        <img class="photo">
        <br>
        <input type="file" name="uploads" class="imgcoll" accept=".png"/>
        <img class="photo">
        <br>
    </form>
